@font-face {
  font-family: 'tiza';
  src:url(/assets/fonts/KGSecondChancesSketch.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'solid';
  src:url(/assets/fonts/KGSecondChancesSolid.ttf);
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "titulo"
  "menu"
  "categoria"
  "dibujo"
  "palabra"
  "intentos"
  "teclado"
  "footer";
  grid-template-rows: 6rem 4rem 2rem 25rem 4rem 4rem auto 3rem;

}


header {
  grid-area: titulo;
  text-align: center;
  background-color: black;
  color: aliceblue;
  font-family: 'solid';
}

nav {
  /* barra de navegacion */
  grid-area: menu;
  background-color: bisque;
  list-style: none;
  font-family: 'tiza';
}

ul.menu {
  /* Barra de navegacion */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding-top: 1rem;
  font-family: 'tiza';
}

a {
  /* para limpiar los enlaces */
  color: black;
  text-decoration: none;
}

section.categoria {
  grid-area: categoria;
  background-color: antiquewhite;
  color: black;
  text-align: center;
  font-family: 'tiza';
}

figure.dibujo {
  grid-area: dibujo;
  text-align: center;
  background-image: url(/assets/imagenes/pizarra02.jpg);
  background-size: cover;
  font-family: 'tiza';
}

section.palabra {
  background-color: antiquewhite;
  grid-area: palabra;
  text-align: center;
  font-family: 'tiza';
}

section.intentos {
    background-color: antiquewhite;
    grid-area: intentos;
    text-align: center;
    font-family: 'tiza';
  }

section.teclado {
  /* teclado */
  grid-area: teclado;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Sombra teclado*/
}


section.teclado div {
  /* teclado */
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  /* teclado */
  margin: 0.3rem;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Sombra teclado*/
}

footer {
  grid-area: footer;
  color: aliceblue;
  justify-content: center;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: 'solid';
}
