@font-face {
  font-family: 'tiza';
  src:url(assets/fonts/KGSecondChancesSketch.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'solid';
  src:url(assets/fonts/KGSecondChancesSolid.ttf);
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "titulo"
  "menu"
  "categoria"
  "dibujo"
  "intentos"
  "teclado"
  "footer";
  grid-template-rows: 6rem 9.5rem 5rem 30rem  4rem auto 3rem;

}


header {
  grid-area: titulo;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;

}

header h1{
  text-align: center;
  color: aliceblue;
  font-family: 'solid';
}

.title {
  font-family: 'tiza';
  color: whitesmoke;
  font-weight: 50;
  font-size: 48px;
  letter-spacing: -5px;
}
.title span {
  white-space:pre;
  opacity: 0;
  transition: opacity 1s;
}
.title span.active {
  opacity: 1;
}

nav {
  /* barra de navegacion */
  grid-area: menu;
  background-color: bisque;
  list-style: none;
  font-family: 'tiza';
}

.subtitulo{
  text-align: center;
  padding:20px;
}
div.menu {
  /* Barra de navegacion */
  display: flex;
  justify-content: center;
  align-items:center;
  font-family: 'tiza';
}

#empiezaElJuego {
  font-family: "tiza";
  font-size:15px;
  color: white;
  width: 200px;
  border: none;
  background-color: lightblue;
  border-radius: 5px;
}
.botonCategoria{
  font-family: "tiza";
  font-size:15px;
  color: white;
  width: 100px;
  border: none;
  background-color: lightblue;
  border-radius: 5px;
}
.botonCategoria:hover {
  font-family: "tiza";
  font-size:15px;
  color: white;
  border: none;
  background-color: lightsalmon;
  border-radius: 5px;
} 
#empiezaElJuego:hover {
  font-family: "tiza";
  font-size:15px;
  color: white;
  border: none;
  background-color: lightsalmon;
  border-radius: 5px;
} 


#categorias {
  grid-area: categoria;
  display:flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  background-color: antiquewhite;
  color: black;
  text-align: center;
  font-family: 'tiza';
}
select {
  font-family: "tiza";
  font-size:15px;
  color: white;
  padding:20px;
  border: none;
  background-color: lightblue;
  border-radius: 5px;
}

select:focus {
  outline: none;
  border-color: lightsalmon;
}

figure.dibujo {
  grid-area: dibujo;
  text-align: center;
  background-size: cover;
  font-family: 'tiza';
}
#ahorcado{
  margin: 40px;
  width: 300px;
}

#fondoPizarra{
  background-image: url(assets/imagenes/pizarra02.jpg);
}
section.palabra {
  background-color: antiquewhite;
  grid-area: palabra;
  text-align: center;
  font-family: 'tiza';
}

#palabraACompletar{
  color:white;
  font-family: 'tiza';
  text-align: center;
  
  }
  #palabraACompletar span {
    font-family: 'tiza';
    vertical-align: bottom;
    font-size: 3em;
    display: inline-block;
    margin-right: 22px;
    width: 30px;
    justify-content: center;
  }

section.intentos {
    background-color: antiquewhite;
    grid-area: intentos;
    text-align: center;
    font-family: 'tiza';
    padding-top:20px;
  }

  #mensajeContainer{
   background-color: red;
   color:white;
   position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 100px;
  text-align: center;
  z-index: 1000; /* Aseguramos que esté por encima de otros elementos */
  display: none; /* Lo escondemos al iniciar */
  }

section.teclado {
  /* teclado */
  grid-area: teclado;
  height: auto;
  text-align:center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Sombra teclado*/
}


button {
  /* teclado */
  margin: 0.3rem;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Sombra teclado*/
  font-family: "solid"; 
}

footer {
  grid-area: footer;
  color: aliceblue;
  justify-content: center;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: 'solid';
}
