@font-face {
  font-family: 'tiza';
  src:url(assets/fonts/KGSecondChancesSketch.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'solid';
  src:url(assets/fonts/KGSecondChancesSolid.ttf);
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

main {
  background-image: url(assets/imagenes/pizarra02.jpg);
  background-size: cover;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "titulo"
  "menu"
  "dibujo"
  "intentos"
  "teclado"
  "footer";
  grid-template-rows: 5rem 9.5rem 25rem 4rem auto 4rem;

}


header {
  grid-area: titulo;
  display: flex;
  align-items: center;
  justify-content: center;

}

header h1{
  color: aliceblue;
  font-family: 'solid';
}

.title {
  padding-top:40px;
  font-family: 'tiza';
  text-align: center;
  color: whitesmoke;
  font-weight: 50;
  font-size: 22px;
  letter-spacing: -1px;
}
.title span {
  white-space:pre;
  opacity: 0;
  transition: opacity 1s;
}
.title span.active {
  opacity: 1;
}

nav {
  /* barra de navegacion */
  grid-area: menu;
  list-style: none;
  font-family: 'tiza';
}

.subtitulo{
  text-align: center;
  font-size: 12px;
  letter-spacing:2px;
  line-height: 2;
  padding:20px;
  color: aliceblue;
}
div.menu {
  /* Barra de navegacion */
  display: flex;
  justify-content: center;
  align-items:center;
  font-family: 'tiza';
}

 #empiezaElJuego {
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: "tiza";
  font-size:15px;
  color: aliceblue;
  background-color: black;
  width: 200px;
  border: none;
  border-radius: 5px;
  padding:30px 0px 30px 0px;
}


#empiezaElJuego:hover {
  font-family: "tiza";
  font-size:15px;
  border: none;
  border-radius: 5px;
} 

#categorias {
  grid-area: categoria;
  display:flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  color: black;
  text-align: center;
  font-family: 'tiza';
}

select {/*desplegable*/
  font-family: "tiza";
  font-size:15px;
  color: aliceblue;
  background-color: black;
  padding:20px;
  border: none;
  border-radius: 5px;
}

select:focus {
  outline: none;
  border-color: lightsalmon;
}

#mensajeContainer {
  background-color: black; 

}
#mensajeContainer button {
  background-color: black; 
  color: white; 
  width: 200px;
  padding: 10px 20px 10px 20px; 
  font-size: 16px; 
  border: none; 
  border-radius: 5px; 
}


#mensajeContainer button:hover {
  background-color: grey; 
}

figure.dibujo {
  grid-area: dibujo;
  text-align: center;
  background-size: cover;
  font-family: 'tiza';
}

#ahorcado{
  margin: 20px;
  width: 250px;
}

section.palabra {
  grid-area: palabra;
  text-align: center;
  font-family: 'tiza';
}

#palabraACompletar{
  color:aliceblue;
  font-family: 'tiza';
  text-align: center;
  font-size:12px;
  }


#palabraACompletar span {
    font-family: 'tiza';
    vertical-align: bottom;
    font-size: 3em;
    display: inline-block;
    margin-right: 22px;
    width: 20px;
    justify-content: center;
  }

section.intentos {
    grid-area: intentos;
    text-align: center;
    font-family: 'tiza';
    font-size:15px;
    letter-spacing: 4px;
    padding-top:20px;
    color: aliceblue;
  }

  #mensajeContainer{
    color:white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
    text-align: center;
    z-index: 1000; 
    display: none; 
  }

section.teclado {
  /* teclado */
  grid-area: teclado;
  height: auto;
  text-align:center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Sombra teclado*/
}


button {
  /* teclado */
  margin: 0.1rem;
  width: 1.4rem;
  height: 1.4rem;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Sombra teclado*/
  font-family: "solid"; 
}

footer {
  grid-area: footer;
  color: aliceblue;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  font-family: 'solid';
  font-size:10px;
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 2;
  margin-right:30px;
  margin-left:30px;

}

@media (min-width: 600px) {
  .title {
    font-family: 'tiza';
    color: whitesmoke;
    font-weight: 50;
    font-size: 50px;
    letter-spacing: -5px;
  }
  footer {
    grid-area: footer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    font-family: 'solid';
    font-size: 12px;
    letter-spacing: 2px;
    color: aliceblue;

  }
  button {
    /* teclado */
    margin: 0.3rem;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Sombra teclado*/
    font-family: "solid"; 
  }
  section.intentos {
    grid-area: intentos;
    text-align: center;
    font-family: 'tiza';
    font-size:20px;
    letter-spacing: 4px;
   
    color: aliceblue;
  }
}